@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
@import "_custom_mixins.scss";

body {
    font-family: 'Alegreya Sans', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
}

.header-top{

	font-size: 12px;
	background-color: #e1e1e1;
	border-bottom: 1px solid #d0d0d0d0;
	padding: 4px 0;
	.list-inline{
		display: inline-block;
	}

	.text-right{
		text-align: right !important;
	}

	#header-top-right{
		width: 98%;
	}
}

.sticky-wrapper{
	color: #bbb;
}

.list-inline{
	margin-top: 5px;
	margin-bottom: 5px;
}

	.logo{
		margin: 6px 0;
		img{
			height: 50px;
		}
	}
	.site-slogan{
		color: #777777;
		font-size: 11px;
		padding: 3px 0 0;
		font-weight: 300;
		opacity: 1;
		text-align: center;
	}


ul{
	.text-muted{
		color: #999999 !important;
	}

	a.contact-num{
		color: #e07e27;
	}

	a.link-dark{
		color: #333333;
		text-decoration: none;
	}

	a.link-dark:hover{
		text-decoration: underline
	}
}



.bg-custom{
	background-color: #292c2f !important;
	border-top: 1px solid #ffffff;
	border-bottom: 2px solid #f1f1f1f1;
}

div{
	.container{
		.row{
			width: 100%;
		}
	}

	a{
		font-size: 1.2em !important;
	}
}

.nav-margin{
	margin-top: 5px;
}

.header-button{
		margin-top: 13px;
		font-size: 12px;
		a{
			color: #ffffff;
		}

	.btn-default{
			background-color: #e07e27;
			border-color: #cc7324;
	}
}



.navbar-bg-custom{
	background-color: #fcfcfc;
}


.nav-link{
	color: #bbb;
}

.nav-link:hover{
	color: #fff;
}



/* Login Page */

.login-page{
	
	.logo-home{
		position: relative;
		height: 90px;
		img{
			height: 60px;
			@include center_item;
		}
	}


	.login-container{
		width: 50%;
		height: 100%;
		margin: 0 auto;
		
		.row{
			margin: 0;
		}

		#login{
			width: 45%;
			margin: 0 auto;
			// background-color: lightgray;
			padding: 30px;
			border: 1px solid #b6b6b6;
			border-radius: 5px;
			color: #000;
			font-weight: 600;

			.sign-in{

			}


		}

		.or-divider{
			display: inline-block;
			.inner{
				border-right: 1px dotted #b6b6b6;
				height: 100%;

				.login_or{
					text-align: center;
					text-transform: uppercase;
					font-size: 12px;
					margin-right: 4px;
					height: 2em;
					width: 2em;
					background-color: #dcdcdc;
					border-radius: 50%;
					display: inline-block;
					position: absolute;
					right: 0;
					top: 50%;
				}

				.or-text{
					@include center_item;
				}	
			}
		}
	}

}